{% extends 'adm/baseAdmin.html' %}
{% load crispy_forms_tags%}

{%block addLink%}
  
{%endblock addLink%}



{%block content%}
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-lightblue">
        <div class="card-header">
          <h3 class="card-title">Cadastrar {{tag}}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-footer">
            <button type="submit" class="btn bg-lightblue">Cadastrar</button>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
  </div>
  
{%endblock content%}

{%block addScript%}
<script>
  
</script>
{%endblock addScript%}