{% extends 'adm/baseAdmin.html' %}

{% block searchInput %}
<form class="d-none d-md-flex input-group w-auto my-auto">
  <input name="search" autocomplete="off" type="search" class="form-control rounded"
    placeholder='Pesquisar Processos' style="min-width: 10px; width:60vh;" />
  <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
</form>
{% endblock searchInput %}

{%block button%}
<form method="GET" class="d-none d-md-flex input-group w-auto my-auto">
  <a href="#" type="button" class="btn input-group-text border-0">Cadastrar Parte</a>
</form>
{% endblock %}

{%block content%}
<table class="table table-stripped">
    <tbody>
      <tr>
        <td><b>Categoria</b></td>
        <td><b>Nome</b></td>
        <td><b>CPF</b></td>
        <td><b></b></td>
      </tr>
      {% for i in parts  %}
      
      <tr>
      <td>{{i.category}}</td>
        <td>{{i.name}}</td>
        <td>{{i.cpf}}</td>
        <td><a href="{%url 'part:detail' i.id %}" style="color: #FFF;"  class='btn btn-primary'>detalhes</a></td>

      </tr>
      {% endfor %}
      

    </tbody>
  </table>
{% endblock %}