{% extends 'adm/baseAdmin.html' %}
{% load crispy_forms_tags%}

{%block addLink%}
  
{%endblock addLink%}



{%block content%}
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-lightblue">
        <div class="card-header">
          <h3 class="card-title">Cadastrar Processo</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="POST" action={%url  'process:register'%} enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-body">
              <div class="row">
                <div class="col-lg-4 form-group">
                    {{form.county|as_crispy_field}}
                </div>
                <div class="col-lg-4 form-group">
                  {{form.class_project|as_crispy_field}}
                </div>
                <div class="col-lg-4 form-group">
                  {{form.organ|as_crispy_field}}
                </div>
              </div>
          
            <div class="row">
              <div class="col-lg-4 form-group">
                {{form.area|as_crispy_field}}
              </div>
                <div class="col-lg-4 form-group">
                  {{form.court|as_crispy_field}}
                </div>
                <div class="col-lg-4 form-group">
                  {{form.controll|as_crispy_field}}
                </div>
               
            </div>
            
            <div class="row">

              <div class="col-lg-4 form-group">
                <label for="defendant">Selecionar Réu</label>

                  <select id="defendant" class="form-control" name="defendant">
                    {%for i in defendants %}
                      <option value={{i.id}}>{{i}}</option>
                    {%endfor%}
                  </select>                  
              </div>
              <div class="col-lg-4 form-group">
                <label for="judge">Selecionar Juiz</label>

                  <select id="judge" class="form-control" name="judge">
                    {%for i in judges %}
                      <option value={{i.id}}>{{i}}</option>
                    {%endfor%}
                  </select>              
              </div>
              <div class="col-lg-4 form-group">
                <label for="author">Selecionar Autor</label>

                  <select id="author" class="form-control" name="author">
                    {%for i in authors %}
                      <option value={{i.id}}>{{i}}</option>
                    {%endfor%}
                  </select>                 
                           
              </div>
          </div>
  
            <div class="row">
                  <div class="col-lg-3 form-group">
                   {{form.forum|as_crispy_field}}
                  </div>
                  <div class="col-lg-3 form-group">
                    {{form.subject|as_crispy_field}}
                  </div>
                  <div class="col-lg-3 form-group">
                    {{form.value|as_crispy_field}}
                  </div> 
                  <div class="col-lg-3 form-group">
                  </div>  
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <a href="#"href="{% url 'process:list'  %}" type="button" class="btn  btn-light  border-0">Voltar</a>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <a type="submit" class="btn bg-blue">Inserir nova Parte</a>

          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
  </div>
  
{%endblock content%}

{%block addScript%}
<script>
  {% for msg in messages%}
  Swal.fire(
    '{{msg}}',
    'success'
  )
  {%endfor%}
</script>
{%endblock addScript%}