{% extends 'adm/baseAdmin.html' %}
{% load crispy_forms_tags%}



{%block content%}
<div class="row">
    <!-- left column -->
    <div class="m-auto col-md-5">
      <!-- general form elements -->
      <div class="card card-lightblue">
        <div class="card-header">
          <h3 class="card-title"> Editar Movimentação</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="POST" action="{%url 'movement:detail' idProcess object.id %}" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="card-body">

          {{form}}
          </div>
          <div class="card-footer">
            <a href="{%url 'process:detail' idProcess %}" type="button" class="btn bg-lightblue">Voltar</a>
            <button type="submit" value="r" name="register" class="btn btn-primary">Cadastrar</button>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
  </div>
  
{%endblock content%}

{%block addScript%}
<script>
  {% for msg in messages%}
  Swal.fire({
    icon: 'success',
    title: '{{msg}}',
  })
  {%endfor%}

 
</script>
{%endblock addScript%}