{% extends 'adm/baseAdmin.html' %}

{% block searchInput %}
<form method="GET"  action="?" class="d-none d-md-flex input-group w-auto my-auto">
  <input name="search" autocomplete="off"   value="{{request.GET.search}}" type="search" class="form-control rounded"
    placeholder='Pesquisar Processos' style="min-width: 10px; width:60vh;" />
  <button  type="submit" class="input-group-text border-0"> <i class="fas fa-search"></i></button>
</form>
{% endblock searchInput %}

{%block button%}
  <button data-toggle="modal" data-target="#exampleModalCenter2" href="#" type="button" class="btn input-group-text border-0">Cadastrar Juiz</button>
{% endblock %}

{%block content%}

{% if judges|length == 0  %}
<div class="col-md-3 m-auto ">
<h5 style="color:red;"> Não há resultados</h5>
<div class="p-3"></div>
</div>
{% endif %}

<table class="table table-stripped">
    <tbody>
      <tr>
        <td><b>Nome</b></td>
        <td><b>Cnj</b></td>
        <td><b></b></td>
        <td><b></b></td>
      </tr>
      {% for i in judges  %}
      
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.cnj}}</td>
        <td><a href="{% url 'judge:detail' i.id %}" style="color: #FFF;"  class='btn btn-primary'>Editar</a></td>
        <td><a href="{% url 'judge:delete' i.id %}" style="color: #FFF;" type="submit" class='areSure btn btn-danger'>Remover</a></td>

      </tr>
      {% endfor %}
      

    </tbody>
  </table>

 

  {% include 'adm/judge/judge_modal.html' %}
{% endblock %}

{%block addScript%}
<script>
  {% for msg in messages%}
  Swal.fire({
    icon: '{{msg.tags}}',
    title: '{{msg}}',
  })
  {%endfor%}

  $(document).on('click', '.areSure', function(e){
    return confirm("Tem certeza que quer deletar ?")
  }); 
</script>
{%endblock addScript%}