{% extends 'adm/baseAdmin.html' %}

{% block searchInput %}
<form method="GET" class="d-none d-md-flex input-group w-auto my-auto">
  <input name="search" autocomplete="off" type="search" class="form-control rounded"
    placeholder='Pesquisar Processos' style="min-width: 10px; width:60vh;" />
  <button type="submit" class="input-group-text border-0"><i class="fas fa-search"></i></button>
</form>
{% endblock searchInput %}

{%block button%}
<form method="GET" class="d-none d-md-flex input-group w-auto my-auto">
  <button data-toggle="modal" data-target="#exampleModalCenter"  type="button" class="btn input-group-text border-0">Cadastrar Parte</button>
</form>
{% endblock %}

{%block content%}
<table class="table table-stripped">
    <tbody>
      <tr>
        <td><b>Categoria</b></td>
        <td><b>Nome</b></td>
        <td><b>CPF</b></td>
        <td><b></b></td>
        <td><b></b></td>
      </tr>
      {% for i in parts  %}
      
      <tr>
      <td>{{i.category}}</td>
        <td>{{i.name}}</td>
        <td>{{i.cpf}}</td>
        <td><a href="{% url 'part:detail' i.id  %}" style="color: #FFF;"  class='btn btn-primary'>Editar</a></td>
        <td><a href="{% url 'part:delete' i.id  %}" style="color: #FFF;" type="submit" class='areSure btn btn-danger'>Remover</a></td>

      </tr>
      {% endfor %}
      

    </tbody>
  </table>
  {% include 'adm/parts/part_modal.html' %}
{% endblock %}

{%block addScript%}
<script>
  {% for msg in messages%}
  Swal.fire({
    icon: 'success',
    title: '{{msg}}',
  })
  {%endfor%}

  $(document).on('click', '.areSure', function(e){
    return confirm("Tem certeza que quer deletar ?")
  }); 
</script>
{%endblock addScript%}