{% extends 'clients/baseHome.html' %}
{% load static %}

{% block content %}


<section class="fixed" id="">
  <!-- Início seção home -->
  <div id="printMe" class="container ">
    <div style="margin-top: 100px;" class="row">
      <!--start column-->
      <div class="m-auto col-md-10 ">
        <!-- Textos da seção -->
        <div class="align-self-center">
          <div class=" pt-5 mt-4 mb-4">
            <h3><b>Processo Nº: {{process.number}}</b></h3>
          </div>
          <hr class="solid">
          <div class=" row pt-5 mt-4 mb-4">
            <!--start column1-->

            <div class=" col-md-12 pt-5 mt-4 mb-4">
              <di class="row">
                <div class="col-md-3">
                  <h5><b>Classe</b></h5>
                  <p>{{process.class_process}}</p>
                </div>
                <div class="col-md-3">
                  <h5><b>Assunto</b></h5>
                  <p>{{process.subject}}</p>
                </div>
                <div class="col-md-3">
                  <h5><b>Foro</b>
                    <h5>
                      <p>{{process.forum}}</p>
                </div>
                <div class="col-md-3">
                  <h5><b>Vara</b></h5>
                  <p>{{process.court}}</p>
                </div>
              </di>
            </div>
            <!--end column1-->
            <!--start column2-->
            <div class=" col-md-12 pt-5 mt-4 mb-4">
              <di class="row">

                <div class="col-md-3">
                  <h5><b>Orgão</b></h5>
                  <p>{{process.organ}}</p>
                </div>
                <div class="col-md-3">
                  <h5><b>Comarca</b></h5>
                  <p>{{process.county}}</p>
                </div>
                <div class="col-md-3">
                  <h5><b>Juiz</b></h5>
                  <p>{{process.judge.name}}</p>
                </div>
                <div class="col-md-3">
                  <h5><b>Distribuição</b></h5>
                  <p>{{process.distribution}}</p>
                </div>
              </di>
            </div>
            <!--end column2-->

          </div>
        </div>
      </div>
      <!--end of the column-->
    </div>
    <!--Parts -->
    <div style="margin-top: 60px;" class="row">
      <div class="col-md-10 m-auto">
        <hr class="solid">
        <h5><b>Partes do processo</b></h5>
        <br>
        <table class="table">
          <tbody>
            {% for i in process.parts.all  %}
              <tr>
                <th scope="row">{{i.category}}</th>
                <td>{{i.name}}</td>
              </tr>
            {% endfor %}
           
            

          </tbody>
        </table>
      </div>
    </div>
    <!--End parts-->

    <!--Start Movimentation-->
    <div style="margin-top: 60px;" class="row">
      <div class="col-md-10 m-auto">
        <hr class="solid">
        <h5><b>Movimentações</b></h5>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Movimento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>Mark</td>
            </tr>
            <tr>
              <th>2</th>
              <td>Jacob</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <!--End Movimentation-->

    <div style="margin-top: 60px;" class="row">
      <div class="col-md-10 m-auto">
        <hr class="solid">
        <br>
        <h5><b>INCIDENTES, AÇÕES INCIDENTAIS, RECURSOS E EXECUÇÕES DE SENTENÇAS</b></h5>
        <p>Não há incidentes, ações incidentais, recursos ou execuções de sentenças vinculados a este processo.
        </p>
      </div>
    </div>

    <div style="margin-top: 40px;" class="row">
      <div class="col-md-10 m-auto">
        <hr class="solid">
        <br>
        <h5><b>APENSOS, ENTRANHADOS E UNIFICADOSS</b></h5>
        <p>Não há processos apensados, entranhados e unificados a este processo.</p>
      </div>
    </div>

    <div style="margin-top: 40px;" class="row">
      <div class="col-md-10 m-auto">
        <hr class="solid">
        <br>
        <h5><b>AUDIÊNCIAS</b></h5>
        <p>Audiências não encontradas.</p>
      </div>
    </div>
    <br><br>

    <div style="margin-top: 40px;" class="row">
      <div class="col-md-10 m-auto">
        <hr class="solid">
        <br>
        <h5><b>Valor da Ação</b></h5>
        <p>R$ {{process.value}}</p>
      </div>
    </div>
    <br><br>

    <div style="margin-top: 40px;" class="row ">
      <hr class="solid">

      <div class="col-md-1 m-auto">
        <a href="{%url 'process:searchProcess' %}" class="btn btn-grey">Voltar</a>
      </div>
      <div class="col-md-1 m-auto">
        <button onclick="printDiv('printMe')"  class="btn navbar-color">Imprimir</button>
      </div>
    </div>
    <br><br>


    <!--/fim textos da seção -->
  </div>
  </div>
</section>
{% endblock content %}

{% block addScript %}
<script>
  function printDiv(divName){
    var printContents = document.getElementById(divName).innerHTML;
    var originalContents = document.body.innerHTML;
    document.body.innerHTML = printContents;
    window.print();
    document.body.innerHTML = originalContents;
  }
</script>
{% endblock addScript %}

