{% extends 'clients/baseHome.html' %}
{% load static %}

{% block content %}
<section id="">
  <!-- Início seção home -->
  <div sclass="container">
    <div style="margin-top: 100px;" class="row">
      <div class="m-auto col-md-10 ">
        <!-- Textos da seção -->
        <div class="align-self-center">
          <form method="GET" class="pt-5 mt-4 mb-4">
            <div class="input-group input-group-lg">
              <input name="search" type="text" placeholder="Pesquisar processo (nº, juiz, nome, classe)" class="form-control">
              <div class="input-group-append">
                <button type="submit" class="btn navbar-color ">Pesquisar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/fim textos da seção -->
  </div>
  </div>
</section>

<article>
  <div style="margin-top: 100px;" class="row">

    {% for i in processes  %}
    <div class="m-auto col-md-10 ">
      <!-- Textos da seção -->
      <hr class="solid">
      <div class="align-self-center">
        <a href="{%url 'process:detailClient' i.id%}">
          <h2>{{i.subject}}- {{i.number}}</h2>
        </a>
        <h4>{{i.class_process}}</h4>
        <div class="row">
          <div class="col-md-1">
            {% if i.status == True %} 
            <p>Status: ativo</p>
            {% else %}
            <p>Status: Ibativo</p>
            {% endif %}
            <p>Status: ativo</p>
          </div>
          <div class="col-md-2">
            <p>Juiz: {{i.judge.name}}
            </p>
          </div>
          <div class="col-md-2">
            <p>Distribuição: {{i.distribution}}</p>
          </div>
        </div>
        <hr class="solid">
      </div>

    </div>
    {% endfor %}
  
  </div>
</article>



{% endblock content %}



